
 <header class="header">
  <div class="col-6 header--background " ></div>
  <div class="header--text-box">
    <div class="row">
      <div class="col-7">
        <h1 class="header--text-box-primary">
          <p>Task Managment System</p> 
        
       
        </h1>
      </div>
      <div class="col-5">
        <h1 class="header--text-box-logo">
          <div class="row">
            <i class="fab fa-twitter"></i>
           
<span>staff management</span>
           
          </div>    
        </h1>
      </div>
    </div>
  </div>
  <img src="assets/img/qrcode.png" class="qr-code" alt="">
</header>