/* You can add global styles to this file, and also import other style files */

@import '../styles/colors';
@import '../styles/mixinis';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
  }
  html {
    font-size: 62.5%;
  }
  
  h2 {
    color: $color-gray-secondary;
  }
  
  body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
    background-color: $bg-color;
  }
  // cretae grid system
  $grid_cols: 12;
  
  @for $i from 1 through $grid_cols {
    .col-#{$i} {
      width: percentage($i / $grid_cols);
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .year {
    position: relative;
    padding: 0.5rem;
  }
  
  .date {
    padding: 0.5rem;
  }
  .year--detail {
    position: absolute;
    left: 58%;
    bottom: 26%;
    letter-spacing: 0.4rem;
    @include breakpoints(mobile) {
      letter-spacing: .2rem;
      margin-top: .5rem;
    }
  }
  
  .day {
    padding-top: 2rem;
    @include breakpoints(mobile) {
      padding-top: 1rem;
    }
  }
  .date--year {
    display: flex;
    justify-content: flex-start;
    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      color: $color-gray-secondary;
      @include breakpoints(mobile) {
        font-size: 2rem;
      }
    }
    h3 {
      margin-top: 0.7rem;
      font-size: 2rem;
      margin-left: 1.5rem;
      font-weight: normal;
      color: $color-gray-secondary;
      @include breakpoints(mobile) {
        margin-top: 0;
        font-size: 1.5rem;
      }
    }
  }
  .container {
    margin: 0 auto;
    max-width: 500px;
    @include breakpoints(mobile) {
      max-width: 100px;
    }
  }
  
  .btn-add {
    position: relative;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    background-color: $color-icon;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: $color-white;
    &:hover {
      background: $color-icon-light;
    }
    &:active {
      opacity: 0.8;
    }
  
    &:focus {
      color: $color-white;
      opacity: 1;
    }
  }
  .is-danger {
    color: $color-red;
    text-align: left;
  }
  .btn-addTask {
    position: relative;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    background-color: $color-icon;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: $color-white;
    &:hover {
      background: $color-icon-light;
    }
    &:active {
      opacity: 0.8;
    }
  
    &:focus {
      color: $color-white;
      opacity: 1;
    }
  }
  .date--year {
    display: flex;
    justify-content: flex-start;
    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      color: $color-gray-secondary;
      @include breakpoints(mobile) {
        font-size: 2rem;
        margin-bottom: .5rem;
      }
    }
    h3 {
      margin-top: 0.7rem;
      font-size: 2rem;
      margin-left: 1.5rem;
      font-weight: normal;
      color: $color-gray-secondary;
      @include breakpoints(mobile) {
        margin-top: 0;
        font-size: 1.5rem;
      }
    }
  }
  //RTL
  .rtl {
    .header {
      &--background {
        clip-path: polygon(100% 0, 130% 0, 40% 70vh, 0% 0%);
        
  
      }
    }
    .year--detail {
      right: 53%;
      left:unset;
    }
    .date--year h3 {
        margin-right: 1.5rem;
        margin-left: unset;
    } 
    .header  .qr-code { 
      right: 11%;
      left: unset;
    }
    .header--text-box-primary {
      clip-path: polygon(0 0, 100% 0, 100% 70vh, 7% 100%);
     }
     .header span {
      margin-right: 1rem;
      margin-left: unset;
      @include breakpoints(mobile) {
        margin-right: .5rem;
        margin-left: unset;
        font-size: 1.3rem;
      }
    }
    .header--text-box-logo {
      clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    }
  }
  